.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket {
    position: relative;
}

.badge {
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -40%);
    font-size: 12px;
}

